In [67]:
import pandas as pd
import numpy as np

In [68]:
# load the ["Player","Tm","Age","G","MP","PER","WS","BPM"] clolunms of the salary dataset 
X = pd.read_csv("datasets_28292_36043_2017-18_AdvancedStats_Salary.csv", encoding= 'unicode_escape',
                usecols =["Player","Tm","Age","G","MP","PER","WS","BPM"])
print("shape of selected dataset is:",X.shape)
X.head()

shape of selected dataset is: (651, 8)

          Player  Age   Tm   G    MP   PER   WS   BPM
0        Zhou Qi   22  HOU  16    87   0.6 -0.2 -10.1
1  Zaza Pachulia   33  GSW  66   937  16.8  3.1   0.8
2  Zach Randolph   36  SAC  59  1508  17.3  1.4  -1.9
3    Zach LaVine   22  CHI  24   656  14.6  0.4  -2.6
4   Zach Collins   20  POR  62   979   8.2  0.8  -2.9

In [69]:
# delete rows containing any NULL value
X.dropna(axis=0, inplace=True)
print("shape of current dataset is:",X.shape)

shape of current dataset is: (651, 8)

In [70]:
## check for duplicates in Player names and keep only the row with value "TOT" of "Tm" column, then
## convert panda df into np array

# find rows with Tm = "TOT"
rows_TOT = X[X['Tm'] == "TOT"] 
print("shape of rows with Tm=TOT",rows_TOT.shape)

# drop all duplicate rows
X.drop_duplicates(subset="Player", keep=False, inplace=True)
print("after dropping NULL shape is:", X.shape)

# add the duplicate rows with "TOT" Tm value back to dataframe
X_noDuplicate = pd.concat([X,rows_TOT])
X_noDuplicate.reset_index(drop=True, inplace=True)
print("shape of dataset after removing duplicates and keep TOT rows is:",X_noDuplicate.shape)

# keep columns ["Player","Age","G","MP","PER","WS","BPM"] 
df = X_noDuplicate[["Player","Age","G","MP","PER","WS","BPM"]] 
print("shape of useful information df is:", df.shape)

# convert panda df to np array and use all columns except "Player"(player name)
X = df.to_numpy()
X_noName = X[:,1:]
print("shape of nd array after remove 'Player name' column is:", X_noName.shape)

shape of rows with Tm=TOT (57, 8)
after dropping NULL shape is: (474, 8)
shape of dataset after removing duplicates and keep TOT rows is: (531, 8)
shape of useful information df is: (531, 7)
shape of nd array after remove 'Player name' column is: (531, 6)

In [71]:
## Covariance matrix calculation

X_noName = X_noName.T
m,n = X_noName.shape
print("m =",m, "n =",n)

# Find the mean of the data
mean6d = np.mean(X_noName,1)
mean6d = mean6d.reshape(1,6)
print("mean of the data is :", mean6d)
print("dimensions of mean6d is:", mean6d.shape)
# Create Z, the zero-meaned data matrix
Z = X_noName - np.tile(mean6d,(n,1)).T

# calculate the covariance matrix of Z
C = np.matmul(Z,Z.T)/(n-1)
print("Covariance matric shape is:", C.shape)
print("Covariance matrix is:", C)

m = 6 n = 531
mean of the data is : [[26.071563088512242 46.89265536723164 1067.4293785310736
  12.897740112994349 2.253672316384179 -2.080037664783428]]
dimensions of mean6d is: (1, 6)
Covariance matric shape is: (6, 6)
Covariance matrix is: [[17.357133212521752 14.288828483104156 421.81449738833834
  1.2716714635966315 1.598793305617739 1.8525310023807007]
 [14.288828483104156 685.2167572753441 19220.599008634465
  58.56070035177483 45.17728173968663 68.71705255303277]
 [421.81449738833834 19220.599008634465 683332.9586824437
  2251.6445570834685 1734.9880428525726 2225.1772614859833]
 [1.2716714635966315 58.56070035177483 2251.6445570834685
  80.35078733610491 10.156649824112568 45.59155463170235]
 [1.598793305617739 45.17728173968663 1734.9880428525726
  10.156649824112568 6.962453469779336 8.036134100842132]
 [1.8525310023807007 68.71705255303277 2225.1772614859833
  45.59155463170235 8.036134100842132 36.94246867782395]]